@charset "UTF-8";
html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
  height: 100%;
  position: relative;
}

a {
  color: rgba(31, 32, 65, 0.5);
  text-decoration: none;
  outline: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

a img {
  border: none;
  cursor: pointer;
}

img {
  vertical-align: bottom;
}

p {
  margin: 0 0 15px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

strong, b {
  font-weight: bold;
}

table {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
}

ul li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

hr {
  border: 0;
}

*:focus, *:active {
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.wrapper {
  overflow: hidden;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.page_width {
  margin: 0 0 0 auto;
  padding: 0 48px;
  max-width: 100%;
}

@media screen and (max-width: 1266px) {
  .page_width {
    padding: 0 24px;
  }
}
@media screen and (max-width: 425px) {
  .page_width {
    padding: 0 16px;
  }
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  color: #000;
  font-weight: 700;
}

h1, .h1 {
  font-size: 48px;
  line-height: 56px;
}

h2, .h2 {
  font-size: 32px;
}

h3, .h3 {
  font-size: 24px;
  line-height: 32px;
}

h4, .h4 {
  font-size: 18px;
}

h5, .h5 {
  font-size: 16px;
}

h6, .h6 {
  text-transform: uppercase;
  font-size: 14px;
}

@media screen and (max-width: 680px) {
  h1 {
    font-size: 24px;
    line-height: 32px;
  }
}
p {
  font-size: 16px;
  font-weight: 400;
}

.button {
  border: 1px solid transparent;
  display: inline-block;
  padding: 9px 16px;
  background-color: #0D870D;
  border-radius: 6px;
  font-weight: 700;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #FFF;
}
.button:hover {
  background-color: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: black;
}

.b_light {
  font-weight: 400;
}

.link_arrov {
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: black;
}
.link_arrov::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-left: 17px;
  border-left: 2px solid rgba(0, 0, 0, 0.2);
  border-top: 2px solid rgba(0, 0, 0, 0.2);
  -webkit-transform: rotate(130deg);
          transform: rotate(130deg);
  background-color: transparent;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.link_arrov:hover:after {
  margin-left: 22px;
}

@media screen and (max-width: 375px) {
  .link_arrov {
    font-size: 13px;
  }
}
header {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 56px;
  width: 100%;
  padding: 16px 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
  -webkit-box-shadow: 0px 0px 30px 0px #00000026;
          box-shadow: 0px 0px 30px 0px #00000026;
}
header .logo_location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .logo_location .menu_button {
  margin-right: 15px;
  display: none;
  cursor: pointer;
  width: 18px;
  height: 14px;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
header .logo_location .menu_button span {
  position: relative;
  width: 100%;
  display: block;
  margin-top: 6px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
header .logo_location .menu_button::before {
  content: "";
  width: 100%;
  height: 2px;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
header .logo_location .menu_button::after {
  content: "";
  width: 100%;
  height: 2px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
header .logo_location .menu_active span {
  opacity: 0;
}
header .logo_location .menu_active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 6px;
}
header .logo_location .menu_active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 6px;
}
header .logo_location .logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
}
header .logo_location .logo img {
  display: inline-block;
  vertical-align: middle;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .logo_location .logo span {
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .logo_location .location {
  margin-left: 32px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
}
header .logo_location .location::after {
  content: "";
  display: inline-block;
  margin-left: 13.34px;
  width: 13.31px;
  height: 7.66px;
  background-image: url(../images/icon_arrow.svg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
header .logo_location .location .location_open_block {
  display: none;
  width: 100%;
  top: 100%;
  position: absolute;
  background-color: #fff;
  padding: 10px;
  -webkit-box-shadow: 0px 13px 30px 0px #00000026;
          box-shadow: 0px 13px 30px 0px #00000026;
  z-index: 2;
}
header .logo_location .location .location_open_block li {
  margin: 6px;
  cursor: pointer;
}
header .logo_location .active::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-bottom: 3px;
}
header .profile_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -17.5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .profile_buttons .item {
  margin: 0 17.5px;
}
header .profile_buttons .notefication {
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
header .profile_buttons .notefication::after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #00B4F0;
  position: absolute;
  top: 2.3px;
  right: 0;
}
header .profile_buttons .notefication:hover {
  opacity: 50%;
}
header .profile_buttons .profil {
  cursor: pointer;
  position: relative;
}
header .profile_buttons .profil::after {
  content: "";
  display: block;
  margin-top: 3px;
  width: 34px;
  height: 4px;
  background-image: url(../images/icon_s_line.svg);
  background-size: cover;
  background-repeat: none;
}
header .profile_buttons .profil::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ED2F2F;
  border: 3px solid #fff;
  position: absolute;
  top: -4px;
  right: 0;
  z-index: 2;
}
header .profile_buttons .profil .profil_img {
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
}
header .profile_buttons .profil .profil_img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1146px) {
  header {
    padding: 12px 10px 12px 15px;
  }
}
@media screen and (max-width: 1000px) {
  header .logo_location .menu_button {
    display: block;
  }
}
@media screen and (max-width: 850px) {
  header .location {
    display: none;
  }
  header .profile_buttons {
    float: right;
  }
  header .button,
header .notefication {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  header .logo_location .logo span {
    display: none;
  }
}
input[type=checkbox] {
  display: none;
  cursor: pointer;
}

.label_svitch {
  font-size: 0px;
  cursor: pointer;
  display: block;
  width: 66px;
  height: 28px;
  border-radius: 36px;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.label_svitch::before {
  content: "ПЛЮС";
  width: 50px;
  height: 22px;
  background-color: #FFF;
  border-radius: 36px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  color: rgba(0, 0, 0, 0.52);
  position: absolute;
  top: 50%;
  left: 3px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.svitch:checked + .label_svitch {
  background-color: #FA961E;
}
.svitch:checked + .label_svitch::before {
  left: 13px;
  color: #FA961E;
}

.forms_text {
  margin-top: 32px;
  padding: 24px;
  border-radius: 16px;
  background-color: #eceef2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.forms_text .representative {
  width: 100%;
  margin-bottom: 16px;
}
.forms_text form {
  width: calc(50% - 17px);
  overflow: hidden;
  margin: -4px 0;
}
.forms_text form input,
.forms_text form textarea,
.forms_text form .check_box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 4px 0;
}
.forms_text form input {
  position: relative;
  height: 42px;
  padding: 9px 12px 9px 44px;
  color: black;
}
.forms_text form input::-webkit-input-placeholder {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.52);
}
.forms_text form input::-moz-placeholder {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.52);
}
.forms_text form input:-ms-input-placeholder {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.52);
}
.forms_text form input::-ms-input-placeholder {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.52);
}
.forms_text form input::placeholder {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.52);
}
.forms_text form input:focus {
  border: 1px solid black;
}
.forms_text form textarea {
  padding: 9px 12px;
  height: 86px;
  font-family: Arial, Helvetica, sans-serif;
  resize: none;
}
.forms_text form textarea::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 24px;
  color: black;
}
.forms_text form textarea::-moz-placeholder {
  font-size: 16px;
  line-height: 24px;
  color: black;
}
.forms_text form textarea:-ms-input-placeholder {
  font-size: 16px;
  line-height: 24px;
  color: black;
}
.forms_text form textarea::-ms-input-placeholder {
  font-size: 16px;
  line-height: 24px;
  color: black;
}
.forms_text form textarea::placeholder {
  font-size: 16px;
  line-height: 24px;
  color: black;
}
.forms_text form .item {
  position: relative;
}
.forms_text form .item::before {
  content: "";
  width: 22px;
  height: 22px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 13px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  z-index: 3;
  background-image: url(../images/icon_form_name.svg);
}
.forms_text form .email::before {
  background-image: url(../images/icon_form_email.svg);
}
.forms_text form .phone::before {
  background-image: url(../images/icon_form_phone.svg);
}
.forms_text form .check_box {
  margin: -3px 0 4px 0;
  padding: 24px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
}
.forms_text form .check_box p {
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.52);
  text-align: right;
  width: 81px;
  vertical-align: middle;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.forms_text form .check_box .label_check_box {
  cursor: pointer;
  position: relative;
  vertical-align: middle;
}
.forms_text form .check_box .label_check_box::before {
  content: "";
  width: 32px;
  height: 32px;
  display: inline-block;
  background-color: #FFF;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  vertical-align: middle;
  margin-right: 8px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.forms_text form .check_box .label_check_box::after {
  content: "";
  width: 15px;
  height: 10px;
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -7.5px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: transparent;
  border-bottom: 2px solid #0d870d;
  border-left: 2px solid #0d870d;
  vertical-align: middle;
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.forms_text form .check_box input[type=checkbox]:checked + .label_check_box::before {
  border: 2px solid #0d870d;
}
.forms_text form .check_box input[type=checkbox]:checked + .label_check_box::after {
  opacity: 100;
}
.forms_text form input[type=submit] {
  color: #FFF;
  height: 50px;
  padding: 13px 12px;
}
.forms_text form input[type=submit]:hover {
  color: black;
}
.forms_text form .text_notice {
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.52);
  position: relative;
  padding-left: 51px;
  margin-top: 16px;
}
.forms_text form .text_notice::before {
  content: "";
  width: 35px;
  height: 37px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  z-index: 3;
  background-image: url(../images/icon_hend.svg);
}
.forms_text .text {
  width: calc(50% - 17px);
}
.forms_text .text h5 {
  margin-bottom: 16px;
}
.forms_text .text ul {
  margin: -8px 0;
}
.forms_text .text ul li {
  margin: 8px 0;
  padding-left: 30px;
  position: relative;
}
.forms_text .text ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 15px;
  height: 8px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: transparent;
  border-bottom: 2px solid #0d870d;
  border-left: 2px solid #0d870d;
}

@media screen and (max-width: 700px) {
  .forms_text {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .forms_text form {
    width: 100%;
  }
  .forms_text .text {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 24px;
    padding-top: 24px;
    width: 100%;
  }
  .forms_text .text h5 {
    text-align: center;
  }
}
@media screen and (max-width: 370px) {
  .forms_text form .check_box p {
    display: none;
  }
}
.main {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.main .navigation {
  min-width: 334px;
}
.main .navigation .search {
  position: relative;
  cursor: pointer;
  width: calc(100% - 7px);
  margin: 0 auto;
  padding: 8px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.main .navigation .search input[type=submit] {
  position: absolute;
  left: 0px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 0px;
  background-image: url(../images/icon_search.svg);
  background-position: center;
  background-size: 18px 18px;
  background-repeat: no-repeat;
  width: 44px;
  height: 40px;
}
.main .navigation .search input[type=search] {
  background-color: #fff;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  padding: 8px 12px 8px 44px;
}
.main .navigation .search input[type=search]::-webkit-input-placeholder {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.52);
}
.main .navigation .search input[type=search]::-moz-placeholder {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.52);
}
.main .navigation .search input[type=search]:-ms-input-placeholder {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.52);
}
.main .navigation .search input[type=search]::-ms-input-placeholder {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.52);
}
.main .navigation .search input[type=search]::placeholder {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.52);
}
.main .navigation .search input[type=search]:focus {
  border: 1px solid black;
}
.main .content {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.menu {
  padding-left: 22px;
}
.menu .item {
  margin: 8px 0px;
}
.menu .item a {
  vertical-align: middle;
  color: black;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.menu .item a:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  vertical-align: middle;
}
.menu .item a:hover {
  opacity: 50%;
}
.menu .item .community::before {
  background-image: url(../images/icon_menu_1.svg);
}
.menu .item .real_estate::before {
  background-image: url(../images/icon_menu_2.svg);
}
.menu .item .franchises::before {
  background-image: url(../images/icon_menu_3.svg);
}
.menu .item .business::before {
  background-image: url(../images/icon_menu_4.svg);
}
.menu .item .services::before {
  background-image: url(../images/icon_menu_5.svg);
}
.menu .item .suppliers::before {
  background-image: url(../images/icon_menu_6.svg);
}
.menu .item .investments::before {
  background-image: url(../images/icon_menu_7.svg);
}
.menu .item .ideas::before {
  background-image: url(../images/icon_menu_8.svg);
}
.menu .item .plans::before {
  background-image: url(../images/icon_menu_9.svg);
}

.content {
  width: 100%;
}

article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}
article h3 {
  margin-bottom: 16px;
}
article .indicators {
  width: 19.512195122%;
}
article .indicators .indicators_content {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 8px;
}
article .indicators .indicators_content .item {
  margin: 8px 0px;
}
article .article_content {
  width: calc(80% - 32px);
}
article .text_link {
  padding-top: 24px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
article .text_link .link_arrov {
  margin-top: 16px;
}

@media screen and (max-width: 1210px) {
  .main .navigation {
    min-width: 270px;
  }
  .main .menu {
    width: 100%;
    padding-left: 7px;
  }
}
@media screen and (max-width: 1110px) {
  .main .navigation {
    position: absolute;
    background-color: #fff;
    z-index: 1;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    border-bottom-right-radius: 6px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    padding-bottom: 20px;
  }
  .main .menu {
    width: 100%;
    padding-left: 7px;
  }
  .main .navigation_active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }

  article .article_content {
    width: 100%;
  }
  article .indicators {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .main .navigation {
    width: 100%;
  }
}
footer {
  background-color: #333333;
  padding-top: 40px;
  margin-top: 40px;
}
footer .logo img {
  vertical-align: middle;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .logo .h3 {
  vertical-align: middle;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFF;
}
footer .control {
  color: #fff;
  opacity: 40%;
}
footer .control::before {
  content: "";
  width: 16px;
  height: 21px;
  display: inline-block;
  background-image: url(../images/icon_lightning.svg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
  margin: 0 12px 0 27px;
}
footer .h6 {
  color: white;
  opacity: 40%;
}
footer .sections {
  margin-top: 24px;
  padding-bottom: 34px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .sections .sections_item {
  width: calc(25% - 25px);
}
footer .sections .sections_item ul {
  padding-left: 0;
}
footer .sections .sections_item ul li {
  vertical-align: middle;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  margin: 10px 0;
}
footer .sections .sections_item ul li a {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  opacity: 40%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
footer .sections .sections_item ul li a:hover {
  opacity: 100%;
}
footer .sections .sections_item_icon a:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  background-image: url(../images/icon_soc_6.svg);
  vertical-align: middle;
}
footer .sections .sections_item_icon .Facebook::before {
  background-image: url(../images/icon_soc_1.svg);
}
footer .sections .sections_item_icon .vk::before {
  background-image: url(../images/icon_soc_2.svg);
}
footer .sections .sections_item_icon .telegramm::before {
  background-image: url(../images/icon_soc_3.svg);
}
footer .sections .sections_item_icon .Instagram::before {
  background-image: url(../images/icon_soc_4.svg);
}
footer .sections .sections_item_icon .Youtube::before {
  background-image: url(../images/icon_soc_5.svg);
}
footer .country {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .country .country_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}
footer .country .country_items ul {
  margin-left: 12px;
}
footer .country .country_items ul li {
  cursor: pointer;
  opacity: 40%;
  display: inline-block;
  position: relative;
  margin: 0 12px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
footer .country .country_items ul li::before {
  cursor: pointer;
  content: "";
  display: inline-block;
  vertical-align: middle;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48px;
  height: 24px;
  border-radius: 4px;
  overflow: hidden;
  background-image: url(../images/icon_country_1.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 8px;
}
footer .country .country_items ul li:hover {
  opacity: 100%;
}
footer .country .country_items ul .kazahstan::before {
  background-image: url(../images/icon_country_2.svg);
}
footer .country .country_items ul .belorus::before {
  background-image: url(../images/icon_country_3.svg);
}
footer .country .box span {
  opacity: 40%;
  font-size: 14px;
  text-transform: uppercase;
  color: white;
  margin-right: 24px;
}

@media screen and (max-width: 1420px) {
  footer .sections {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .sections .sections_item {
    width: 30%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1172px) {
  footer .sections {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .sections .sections_item {
    width: 50%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1330px) {
  footer .country {
    display: block;
  }
  footer .country .country_items {
    display: block;
    text-align: center;
  }
  footer .country .country_items ul {
    margin-top: 16px;
  }
  footer .country .box {
    display: block;
    padding-top: 36px;
    margin: 0 auto;
    text-align: center;
  }
}
@media screen and (max-width: 600px) {
  footer .sections .sections_item {
    width: 100%;
  }
}
@media screen and (max-width: 547px) {
  footer .country .country_items li {
    font-size: 0px;
  }
}
.main_vidio {
  padding-top: 34px;
  padding-bottom: 124px;
  background: -webkit-gradient(linear, left bottom, left top, from(#ECEEF2), to(rgba(236, 238, 242, 0)));
  background: linear-gradient(360deg, #ECEEF2 0%, rgba(236, 238, 242, 0) 100%);
}
.main_vidio .title_main_vidio {
  position: relative;
  margin-left: 76px;
}
.main_vidio .title_main_vidio::before {
  content: "";
  width: 60px;
  height: 60px;
  position: absolute;
  left: -76px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url(../images/icon_vidio.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.main_vidio .title_main_vidio span {
  display: block;
  font-size: 18px;
  line-height: 24px;
}
.main_vidio h1 {
  margin-top: 30px;
  width: 100%;
}
.main_vidio .vidio_vote {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main_vidio .vidio_vote .vidio {
  width: 74.2857142857%;
  position: relative;
  overflow: hidden;
  border-radius: 17px;
}
.main_vidio .vidio_vote .vidio img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.main_vidio .vidio_vote .vidio a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.main_vidio .vidio_vote .vidio a::before {
  content: "";
  width: 80px;
  height: 80px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url(../images/icon_play.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 50%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.main_vidio .vidio_vote .vidio a::after {
  content: "Смотреть видео";
  position: absolute;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #FFF;
  text-align: center;
  width: 115px;
  position: absolute;
  left: 50%;
  bottom: calc(50% - 200px);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.main_vidio .vidio_vote .vidio a:hover::before {
  opacity: 100;
}
.main_vidio .vidio_vote .vidio a:hover::after {
  opacity: 100;
  bottom: calc(50% - 150px);
}
.main_vidio .vidio_vote .vote {
  width: 22.8571428571%;
  padding-top: 20px;
}
.main_vidio .vidio_vote .vote p {
  width: 100%;
  margin-top: 16px;
  margin-bottom: 16px;
}
.main_vidio .vidio_vote .vote .vote_cos_bt {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: relative;
  color: #FFF;
  width: 100%;
  font-weight: 700;
  font-size: 16px;
  padding: 18px 48px 18px 75px;
  margin: 8px 0;
  text-align: center;
  background-color: #1f3b74;
  border-radius: 50px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.main_vidio .vidio_vote .vote .vote_cos_bt::before {
  content: "";
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #3b5998;
  background-image: url(../images/icon_soc_1.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px 32px;
}
.main_vidio .vidio_vote .vote .vote_cos_bt:hover {
  opacity: 40%;
}
.main_vidio .vidio_vote .vote .vote_cos_vk {
  background-color: #27466a;
}
.main_vidio .vidio_vote .vote .vote_cos_vk::before {
  background-color: #4c6c91;
  background-image: url(../images/icon_soc_2.svg);
  background-size: 32px 17px;
}
.main_vidio .vidio_vote .vote .vote_cos_bt_ok {
  background-color: #d06313;
}
.main_vidio .vidio_vote .vote .vote_cos_bt_ok::before {
  background-color: #f68634;
  background-image: url(../images/icon_soc_6.svg);
  background-size: 18px 30px;
}
.main_vidio .vidio_vote .vote .h4 {
  margin-top: 18px;
  text-align: center;
  display: block;
}

@media screen and (max-width: 1497px) {
  .main_vidio .vidio_vote .vote .vote_cos_bt {
    display: inline-block;
    font-size: 0px;
    width: 60px;
    height: 60px;
    padding: 0px;
    margin: 8px 0;
  }
}
@media screen and (max-width: 1146px) {
  .main_vidio .vidio_vote {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main_vidio .vidio_vote .vidio {
    width: 100%;
  }
  .main_vidio .vidio_vote .vote {
    text-align: center;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .main_vidio .vidio_vote {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main_vidio .vidio_vote .vidio {
    width: 100%;
  }
  .main_vidio .vidio_vote .vidio a::before {
    width: 60px;
    height: 60px;
  }
  .main_vidio .vidio_vote .vidio a::after {
    font-size: 20px;
    line-height: 22px;
  }
  .main_vidio .vidio_vote .vidio a:hover::after {
    opacity: 100;
    bottom: calc(50% - 100px);
  }
}
@media screen and (max-width: 477px) {
  .main_vidio .vidio_vote .vidio a::before {
    width: 60px;
    height: 60px;
  }
  .main_vidio .vidio_vote .vidio a::after {
    font-size: 20px;
    line-height: 22px;
  }
  .main_vidio .vidio_vote .vidio a:hover::before {
    -webkit-transform: translate(-50%, -80%);
            transform: translate(-50%, -80%);
  }
  .main_vidio .vidio_vote .vidio a:hover::after {
    opacity: 100;
    bottom: calc(50% - 70px);
  }
}
.notice .notice_container {
  margin-top: -78px;
  background-color: #FFF;
  border-radius: 16px;
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.15);
}
.notice .notice_container .text_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.notice .notice_container .text_img .image {
  overflow: hidden;
  width: 152px;
  height: 114px;
  border-radius: 8px;
  position: relative;
  margin-right: 32px;
}
.notice .notice_container .text_img .image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.notice .notice_container .text_img h3, .notice .notice_container .text_img p, .notice .notice_container .text_img a {
  display: block;
  margin: 8px 0;
}

.representative {
  width: 232px;
}
.representative .image {
  overflow: hidden;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  float: left;
  clear: both;
  margin-right: 8px;
}
.representative .image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.representative span, .representative .button {
  display: block;
}
.representative .button {
  margin-top: 16px;
}

@media screen and (max-width: 1100px) {
  .notice .notice_container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .notice .notice_container .representative {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 24px;
    padding-top: 24px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    vertical-align: middle;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .notice .notice_container .representative .profil {
    display: block;
    width: 240px;
  }
  .notice .notice_container .representative .button {
    margin-top: 0;
  }
}
@media screen and (max-width: 1100px) {
  .notice .notice_container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .notice .notice_container .text_img {
    display: block;
    text-align: center;
    width: 100%;
  }
  .notice .notice_container .text_img .image {
    margin: 0 auto;
  }
  .notice .notice_container .representative {
    display: block;
  }
  .notice .notice_container .representative .profil {
    display: block;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .notice .notice_container .representative .button {
    margin-top: 16px;
    max-width: 295px;
    margin: 16px auto 0;
  }
}
.competitors {
  margin-top: 24px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 40px;
}
.competitors .competitors_slider {
  margin: 32px -10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.competitors .competitors_slider .item {
  margin: 0 auto;
  width: calc(33% - 16px);
}
.competitors .competitors_slider .item .vidio {
  width: 100%;
  height: 192px;
  position: relative;
  overflow: hidden;
  border-radius: 16px;
}
.competitors .competitors_slider .item .vidio::before {
  content: "";
  width: 100px;
  height: 75px;
  border-radius: 8px;
  position: absolute;
  left: 16px;
  top: 16px;
  background-image: url(../images/competitors_logo_1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.competitors .competitors_slider .item .vidio img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.competitors .competitors_slider .item .vidio a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.competitors .competitors_slider .item .vidio a::before {
  content: "";
  width: 45px;
  height: 45px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url(../images/icon_play.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 50%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.competitors .competitors_slider .item .vidio a:hover::before {
  opacity: 100;
}
.competitors .competitors_slider .item .vidio_1::before {
  background-image: url(../images/competitors_logo_2.jpg);
}
.competitors .competitors_slider .item .vidio_2::before {
  background-image: url(../images/competitors_logo_3.jpg);
}
.competitors .competitors_slider .item h3 {
  margin-top: 16px;
}

@media screen and (max-width: 975px) {
  .competitors .competitors_slider .item .vidio::before {
    width: 80px;
    height: 60px;
  }
}
@media screen and (max-width: 768px) {
  .competitors .competitors_slider {
    overflow: visible;
  }
  .competitors .competitors_slider .item {
    width: 100%;
    margin: 0 20px;
  }
}
@media screen and (max-width: 425px) {
  .competitors .competitors_slider {
    overflow: visible;
  }
  .competitors .competitors_slider .item {
    width: 100%;
    margin: 0 10px;
  }
}
.franchise_cost {
  margin-top: 32px;
  padding: 24px 24px 37px 24px;
  background-color: rgba(30, 160, 30, 0.1);
  border-radius: 16px;
}
.franchise_cost .franchise_cost_items {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 16px;
}
.franchise_cost .franchise_cost_items .item {
  width: 100%;
  margin: 8px 0;
}
.franchise_cost .franchise_cost_items .item .item_name {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.52);
  float: left;
}
.franchise_cost .franchise_cost_items .item p {
  margin-left: 224px;
}
.franchise_cost a {
  position: relative;
  font-weight: 700;
  display: block;
  width: 236px;
  margin: 37px auto 0 auto;
  text-align: center;
  color: black;
  position: relative;
}
.franchise_cost a::before {
  content: "";
  position: absolute;
  left: -66px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/icon_download.svg);
}

@media screen and (max-width: 670px) {
  .franchise_cost .franchise_cost_items .item .item_name {
    float: none;
  }
  .franchise_cost .franchise_cost_items .item p {
    margin-left: 0px;
  }
}
@media screen and (max-width: 590px) {
  .franchise_cost a {
    text-align: left;
    display: inline-block;
  }
  .franchise_cost a::before {
    margin-right: 16px;
    position: static;
    float: left;
    top: 0%;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
.franchise_description {
  margin-top: 32px;
}
.franchise_description .text_link ul {
  margin: 0px 0 -12px 0;
}
.franchise_description .text_link ul li {
  margin: 12px 0;
}
.franchise_description .franchise_galery {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.franchise_description .franchise_galery .item {
  cursor: pointer;
  width: calc(25% - 16px);
  height: 192px;
  border-radius: 16px;
  position: relative;
  overflow: hidden;
  background-color: aqua;
}
.franchise_description .franchise_galery .item img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.franchise_description .franchise_galery .item a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media screen and (max-width: 700px) {
  .franchise_description .franchise_galery {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .franchise_description .franchise_galery .item {
    width: calc(50% - 4px);
    margin: 4px 0;
    height: 160px;
  }
}