.main{
    display: flex;
    width: 100%;

    .navigation{
        min-width: 334px;
        //float: left;
    
        .search{
            position: relative;
            cursor: pointer;
            width: calc(100% - 7px);
            margin: 0 auto;
            padding: 8px 0px;
            border-bottom: $borderes;
    
            input[type="submit"]{
                position: absolute;
                left: 0px;
                cursor: pointer;
                border: none;
                background-color: transparent;
                outline: none;
                font-size: 0px;
                background-image: url(../images/icon_search.svg);
                background-position: center;
                background-size: 18px 18px;
                background-repeat: no-repeat;
    
                width: 44px;
                height: 40px;
            }
    
            input[type="search"]{
                background-color: #fff;
                width: 100%;
                height: 40px;
    
                border: 1px solid rgba(0, 0, 0, 0.20);
                border-radius: 6px;
                padding: 8px 12px 8px 44px;
    
                &::placeholder{
                    font-size: 16px;
                    color: rgba(0, 0, 0, 0.52);
                }
            }
        }
    }

    .content{
        border-left: $borderes;
    }
}

.menu{
    padding-left: 22px;
    .item{
        margin: 8px 0px;
        a{
            vertical-align: middle;
            color: $main_color;
            @include transition (all);

            &:before{
                content: '';
                display: inline-block;
                width: 20px;
                height: 20px;
                margin-right: 10px;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: top;

                vertical-align: middle;
            }


            &:hover{
                opacity: 50%;
            }
        }

        .community::before{
            background-image: url(../images/icon_menu_1.svg);
        }

        .real_estate::before{
            background-image: url(../images/icon_menu_2.svg);
        }

        .franchises::before{
            background-image: url(../images/icon_menu_3.svg);
        }
        .business::before{
            background-image: url(../images/icon_menu_4.svg);
        }
        .services::before{
            background-image: url(../images/icon_menu_5.svg);
        }
        .suppliers::before{
            background-image: url(../images/icon_menu_6.svg);
        }
        .investments::before{
            background-image: url(../images/icon_menu_7.svg);
        }
        .ideas::before{
            background-image: url(../images/icon_menu_8.svg);
        }
        .plans::before{
            background-image: url(../images/icon_menu_9.svg);
        }
    }
}

.content{
    width: 100%;
}



article{
    display: flex;
    justify-content: space-between;

    margin-top: 40px;
    
    h3{
        margin-bottom: 16px;
    }

    .indicators{
        width: 256/1312*100%;

        .indicators_content{
            border-top: $borderes;
            padding-top: 8px;

            .item{
                margin: 8px 0px;
            }
        }
    }

    .article_content{
        width: calc(80% - 32px);
    }
    .text_link{
        padding-top: 24px;
        border-top: $borderes;

        .link_arrov{
            margin-top: 16px;
        }
    }
}
