.franchise_description{
    margin-top: 32px;
    .text_link{
        ul{
            margin: 0px 0 -12px 0;
            li{
                margin: 12px 0;
            }
        }
    }

    .franchise_galery{
        margin-top: 32px;
        display: flex;
        width: 100%;
        justify-content: space-between;

        .item{
            cursor: pointer;
            width: calc(25% - 16px);
            height: 192px;
            border-radius: 16px;
            position: relative;
            overflow: hidden;
            background-color: aqua;

            img{
                object-fit: cover;
                width: 100%;
                height: 100%;
            }

            a{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }
        }
    }
}
@media screen and (max-width:700px){
    .franchise_description{
        .franchise_galery{
            flex-wrap: wrap;
            .item{
                width: calc(50% - 4px);
                margin:4px 0;
                height: 160px;
            }
        }
    }
}