header{
    position: relative;
    box-sizing: border-box;
    height: 56px;
    width: 100%;
    padding: 16px 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;

    box-shadow: $header_shadow;

    .logo_location{
        display: flex;
        align-items:center;

        .menu_button{
            margin-right: 15px;
            display: none;
            // position: absolute;
            cursor: pointer;
            width: 18px;
            height: 14px;
            position: relative;

            @include transition(all);
            span{
                position: relative;
                width: 100%;
                display: block;
                margin-top: 6px;
                height: 2px;
                background-color: rgba(0, 0, 0, 0.2);
                @include transition (all);
            }
            &::before{
                content: '';
                width: 100%;
                height: 2px;
                top: 0;
                //bottom: -6px;
                background-color: rgba(0, 0, 0, 0.2);
                position: absolute;
                @include transition (all);
            }

            &::after{
                content: '';
                width: 100%;
                height: 2px;
                bottom: 0px;
                background-color: rgba(0, 0, 0, 0.2);
                position: absolute;
                @include transition (all);
            }
        }
        .menu_active{
            span{
                opacity: 0;
            }
            &::before{
                transform: rotate(45deg);
                top: 6px;
            }

            &::after{
                transform: rotate(-45deg);
                bottom: 6px;
            }
        }

        .logo{

            align-items: center;
            vertical-align: middle;

            img{
                display: inline-block;
                vertical-align: middle;
                align-items: center;
            }

            span{
                text-transform: uppercase;
                display: inline-block;
                vertical-align: middle;
                align-items: center;
            }
        }


        .location{
            margin-left: 32px;
            font-size: 16px;
            cursor: pointer;
            position: relative;
            &::after{
                content: '';
                display: inline-block;
                margin-left: 13.34px;
                width: 13.31px;
                height: 7.66px;
                background-image: url(../images/icon_arrow.svg);
                background-repeat: no-repeat;
                background-size: cover;

                @include transition(all);
            }

            .location_open_block{
                display: none;
                width: 100%;
                top: 100%;
                position: absolute;
                background-color: #fff;
                padding: 10px;

                box-shadow: 0px 13px 30px 0px #00000026;
                z-index: 2;

                li{
                    margin: 6px;
                    cursor: pointer;
                }
            }
        }

        .active{
            &::after{
                transform: rotate(180deg);
                margin-bottom: 3px;
            }
        }
    }


    .profile_buttons{
        display: flex;
        margin: 0 -17.5px;
        align-items: center;

        .item{
            margin: 0 17.5px;
        }

        .notefication{
            position: relative;

            @include transition(all);
            &::after{
                content: "";
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: $notification_color_1;
                //border: 1px solid #fff;

                position: absolute;
                top: 2.3px;
                right: 0;
            }

            &:hover{
                opacity: 50%;
            }
        }
        .profil{
            cursor: pointer;
            position: relative;
            &::after{
                content: '';
                display: block;
                margin-top: 3px;
                width: 34px;
                height: 4px;
                background-image: url(../images/icon_s_line.svg);
                background-size: cover;
                background-repeat: none;
            }

            &::before{
                content: "";
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: $notification_color_2;
                border: 3px solid #fff;

                position: absolute;
                top: -4px;
                right: 0;

                z-index: 2;
            }
            .profil_img{
                position: relative;
    
                width: 32px;
                height: 32px;
                border-radius: 50%;
    
                overflow: hidden;
    
                img{
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 1146px){
    header{
        padding: 12px 10px 12px 15px;
    }
}
@media screen and (max-width:1000px){
    header{
        .logo_location{
            .menu_button{
                display: block;
            }
        }
    }
}
@media screen and (max-width: 850px){
    header{
        .location{
            display: none;
        }
        .profile_buttons{
            float: right;
        }

        .button,
        .notefication{
            display: none;
        }
    }
}
@media screen and (max-width: 400px){
    header{
        .logo_location{
            .logo{
                span{
                    display: none;
                }
            }
        }
    }
}

